<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.runnirr.xvoiceplus"
      android:versionCode="4"
      android:versionName="1.2">
    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.BROADCAST_SMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher">

        <meta-data android:value="true" android:name="xposedmodule"/>
        <meta-data android:value="2.0*" android:name="xposedminversion"/>
        <meta-data android:value="Voice+ for Xposed Framework" android:name="xposeddescription"/>        

        <activity android:name="org.cyanogenmod.voiceplus.VoicePlusSetup"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="org.cyanogenmod.voiceplus.VoicePlusService" />
        
        <receiver android:name="org.cyanogenmod.voiceplus.OutgoingSmsReceiver" />
        <receiver android:name="org.cyanogenmod.voiceplus.VoiceListenerService" />

        <receiver android:name="org.cyanogenmod.voiceplus.PackageChangeReceiver">
            <intent-filter>
                <data android:scheme="package"/>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_CHANGED" />
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
